Repository Project-HAMi/HAMi, pull requests merged in 2024-05, with the labels that each got.

#293 avoid swallowing exception when device-plugin exit, it should be thrown
  cmd/device-plugin/nvidia/main.go
Labels: kind/bug

#296 Replace project architecture diagram
  imgs/arch.png
Labels: lgtm

#295 fix gpu type matching mechanism, Enable the combination of GPUInUse and GPUNoUse
  pkg/device/nvidia/device.go
  pkg/device/nvidia/device_test.go
Labels: lgtm

#305 remove github robot
  .github/workflows/close-stale-issues-pr.yaml
  .github/workflows/robot.yaml
Labels: kind/cleanup, lgtm

#307 add hami repos owners to triger hami pipeine robot
  OWNERS
Labels: kind/documentation, lgtm, size/XS, dco-signoff: yes

#310 add scheduler command
  charts/hami/templates/scheduler/deployment.yaml
  charts/hami/values.yaml
Labels: kind/feature, lgtm, size/XS, dco-signoff: yes, approved

#312 add scheduler policy doc
  README.md
  README_cn.md
  docs/config.md
  docs/config_cn.md
  examples/nvidia/specify_scheduling_policy.yaml
Labels: lgtm, approved

#313 Do not use job-patch to modify failurePolicy.
  charts/hami/templates/scheduler/job-patch/job-patchWebhook.yaml
Labels: lgtm, size/XS, dco-signoff: yes, approved

#323 The annotation of the device that has been deleted is incorrect.
  pkg/device/hygon/device.go
  pkg/device/nvidia/device.go
Labels: kind/bug, lgtm, size/XS, dco-signoff: yes

#335 update hami roadmp
  README.md
  README_cn.md
Labels: kind/documentation, dco-signoff: yes, approved, size/S

#316 enhance unregisterd node logs
  pkg/scheduler/scheduler.go
Labels: kind/cleanup, size/XS, dco-signoff: yes, approved
