Repository Project-HAMi/HAMi, pull requests merged in 2024-12, with the labels that each got.

#667 fix-example-yaml
  examples/nvidia/specify_uuid_to_use.yaml
Labels: kind/documentation

#678 optimization map init in test
  pkg/scheduler/score_test.go
Labels: kind/bug

#665 doc(README): add examples for GPU sharing and update-examples
  README.md
  README_cn.md
  docs/develop/tasklist.md
  example.yaml
  examples/nvidia/default_use.yaml
  examples/nvidia/default_use_legacy.yaml
  examples/nvidia/example.yaml
  examples/nvidia/specify_card_type_not_use.yaml
  examples/nvidia/specify_card_type_to_use.yaml
  examples/nvidia/specify_scheduling_policy.yaml
  examples/nvidia/specify_uuid_not_use.yaml
  examples/nvidia/specify_uuid_to_use.yaml
  examples/nvidia/use_as_normal.yaml
  examples/nvidia/use_exclusive_card.yaml
  examples/nvidia/use_memory_fraction.yaml
  examples/nvidia/use_sharing_card.yaml
Labels: kind/documentation

#756 print flags for device-plugin and scheduler
  cmd/device-plugin/nvidia/main.go
  cmd/scheduler/main.go
  pkg/util/flag/flags.go
  pkg/util/flag/flags_test.go
Labels: kind/enhancement

#760 [Docs] update config pages
  docs/config.md
  docs/config_cn.md
Labels: kind/documentation
