Repository Project-HAMi/HAMi, pull requests merged in 2024-04, with the labels that each got.

#260 doc: modify docs/develop/design.md the error .so file description of the iluvatar device
  docs/develop/design.md
Labels: kind/documentation, lgtm

#266 trivy:fix specify card type to use error
  examples/nvidia/specify_card_type_to_use.yaml
Labels: kind/documentation

#270 fix bad link in README
  README.md
  README_cn.md
Labels: kind/documentation

#271 add aliases import validation
  .github/workflows/ci.yaml
  cmd/device-plugin/mlu/main.go
  cmd/device-plugin/nvidia/main.go
  cmd/vGPUmonitor/feedback.go
  cmd/vGPUmonitor/pathmonitor.go
  cmd/vGPUmonitor/pathmonitor_test.go
  hack/.import-aliases
  hack/tools/preferredimports/preferredimports.go
  hack/tools/tools.go
  hack/verify-import-aliases.sh
  pkg/device-plugin/hygon/dcu/register.go
  pkg/device-plugin/hygon/dcu/server.go
  pkg/device-plugin/mlu/cache.go
  pkg/device-plugin/mlu/cambricon.go
  pkg/device-plugin/mlu/const.go
  pkg/device-plugin/mlu/podutils.go
  pkg/device-plugin/mlu/register.go
  pkg/device-plugin/mlu/server.go
  pkg/device-plugin/nvidiadevice/nvinternal/plugin/server.go
  pkg/device-plugin/nvidiadevice/nvinternal/plugin/server_test.go
  pkg/device-plugin/nvidiadevice/nvinternal/rm/device_map_test.go
  pkg/device-plugin/nvidiadevice/nvinternal/rm/devices.go
  pkg/device/devices.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/score.go
  pkg/scheduler/score_test.go
  pkg/util/util.go
Labels: kind/feature

#276 update CONTRIBUTING.md
  CONTRIBUTING.md
  go.mod
  hack/verify-all.sh
Labels: kind/documentation

#273 fix: When a node cannot bind, it should stop scheduling pods to that node
  pkg/scheduler/scheduler.go
Labels: kind/bug, lgtm

#280 Support GPU Utilization Metrics
  cmd/vGPUmonitor/cudevshr.go
  cmd/vGPUmonitor/metrics.go
Labels: kind/feature

#287 fix nvidia device plugin nodename init sort error
  cmd/device-plugin/nvidia/main.go
  cmd/device-plugin/nvidia/vgpucfg.go
Labels: kind/bug

#289 fix RegistrInAnnotation log time error
  pkg/device-plugin/nvidiadevice/nvinternal/plugin/register.go
Labels: kind/cleanup

#290 fix device plugin crash when failed to get numa information
  pkg/device-plugin/nvidiadevice/nvinternal/plugin/register.go
Labels: kind/bug, lgtm
