Repository Project-HAMi/HAMi, pull requests merged in 2024-08, with the labels that each got.

#258 Proposal: support GPU Utilization Metrics
  docs/proposals/gpu_utilization.png
  docs/proposals/gpu_utilization_cn.md
Labels: kind/feature, lgtm, approved

#415 disable PreferredAllocation
  pkg/device-plugin/nvidiadevice/nvinternal/plugin/server.go
Labels: lgtm, size/XS, dco-signoff: yes, approved

#417 add event handlers registration
  go.mod
  pkg/scheduler/event.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
Labels: kind/feature, lgtm, dco-signoff: yes, approved, size/M

#401 optimization code
  charts/hami/templates/scheduler/deployment.yaml
  charts/hami/values.yaml
  cmd/scheduler/main.go
  pkg/scheduler/config/config.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/utils.go
  pkg/scheduler/utils_test.go
Labels: dco-signoff: yes, size/L

#431 add image vulnerability scanner
  .github/workflows/dev-image-build.yaml
Labels: kind/feature

#433 add hami vulnerability scan and report
  .github/workflows/ci-image-scanning.yaml
  .github/workflows/dev-image-build.yaml
Labels: kind/feature

#419 fix data race when read pods info
  pkg/scheduler/pods.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
Labels: dco-signoff: yes, size/S

#432 add CodeQL analysis
  .github/workflows/codeql-analysis.yml
Labels: kind/feature
