Repository Project-HAMi/HAMi, pull requests merged in 2024-06, with the labels that each got.

#340 enhance get current node pendding pods
  pkg/device-plugin/nvidiadevice/nvinternal/plugin/server.go
  pkg/util/util.go
Labels: kind/feature, lgtm, dco-signoff: yes, approved, size/S

#328 [Optimization] Fix the issue where scheduling can still occur on the node when the device-plugin crashes.
  pkg/scheduler/nodes.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  pkg/util/types.go
Labels: lgtm, dco-signoff: yes, size/L, approved

#279 :bulb: Upate Benchmark build script and deployment files
  benchmarks/README.md
  benchmarks/ai-benchmark/Dockerfile
  benchmarks/ai-benchmark/Official-Nvidia-device-plugin/nvidia-device-plugin-official.yml
  benchmarks/ai-benchmark/build.sh
  benchmarks/deployments/job-on-hami.yml
  benchmarks/deployments/job-on-nvidia-device-plugin.yml
  example.yaml
Labels: kind/documentation, lgtm, dco-signoff: yes, size/L, approved

#342 add pod utilization dashboard
  docs/gpu-dashboard.json
Labels: kind/feature, lgtm, dco-signoff: yes, approved, size/M

#337 fix README.md doc
  README.md
  README_cn.md
Labels: kind/documentation, lgtm, size/XS, dco-signoff: yes, approved

#350 fix: typo in use_exclusive_card.yaml and add new exclusive example
  examples/nvidia/use_as_normal.yaml
  examples/nvidia/use_exclusive_card.yaml
  pkg/scheduler/scheduler.go
Labels: kind/documentation, lgtm, dco-signoff: yes, approved, size/M

#336 optimization node compute score
  pkg/scheduler/policy/gpu_policy.go
  pkg/scheduler/policy/node_policy.go
  pkg/scheduler/score.go
  pkg/scheduler/score_test.go
Labels: lgtm, dco-signoff: yes, approved, size/M

#364 feat: Update webhook.yaml to whitelist kube-system and istio-system
  charts/hami/templates/scheduler/webhook.yaml
  charts/hami/values.yaml
Labels: lgtm, dco-signoff: yes, approved, size/S

#367 Fix HostGPUMemoryUsage wrong unit
  docs/gpu-dashboard.json
Labels: kind/bug, lgtm, size/XS, dco-signoff: yes, approved

#371 upgrade go-nvml version
  go.mod
  go.sum
Labels: lgtm, size/XS, dco-signoff: yes, approved

#354 feat: add liveness probe on scheduler extender
  charts/hami/templates/scheduler/deployment.yaml
  cmd/scheduler/main.go
  pkg/scheduler/routes/route.go
Labels: kind/feature, lgtm, dco-signoff: yes, approved, size/S
