Repository Project-HAMi/HAMi, pull requests merged in 2024-07, with the labels that each got.

#380 docs: Optimize the user experience of using documents
  README_cn.md
Labels: kind/documentation, lgtm, approved

#389 feat: support huawei ascend310p
  .github/workflows/dev-image-build.yaml
  charts/hami/templates/scheduler/configmap.yaml
  charts/hami/templates/scheduler/configmapnew.yaml
  charts/hami/templates/scheduler/deployment.yaml
  charts/hami/values.yaml
  pkg/device/ascend/ascend310p.go
  pkg/device/devices.go
Labels: kind/feature, lgtm, dco-signoff: yes, size/L, approved

#384 fix: CUDA_DISABLE_CONTROL not working properly
  pkg/device-plugin/nvidiadevice/nvinternal/plugin/server.go
Labels: kind/bug, lgtm, size/XS, dco-signoff: yes

#376 feat: Add GPU node selector to scheduler deployment
  charts/hami/templates/scheduler/deployment.yaml
  charts/hami/values.yaml
  pkg/scheduler/scheduler.go
  pkg/scheduler/utils.go
  pkg/scheduler/utils_test.go
Labels: lgtm, dco-signoff: yes, size/L

#298 bump github.com/NVIDIA/k8s-device-plugin to v0.15.0
  go.mod
  go.sum
  pkg/device-plugin/nvidiadevice/nvinternal/cdi/cdi.go
Labels: kind/cleanup, lgtm, dco-signoff: yes, size/L, approved

#309 add workflow to build chart tag and image
  .github/workflows/build-helm-release.yaml
  .github/workflows/build-image-release.yaml
  .github/workflows/lint-chart.yaml
  .github/workflows/main.yml
  charts/hami/Chart.yaml
  docs/CHANGELOG/CHANGELOG-0.0.0.md
  docs/release-process.md
  hack/util.sh
  hack/verify-chart-version.sh
Labels: kind/feature, lgtm, dco-signoff: yes, size/L

#405 fixed go build image version
  version.mk
Labels: kind/cleanup, lgtm, size/XS, dco-signoff: yes
