Repository Project-HAMi/HAMi, pull requests merged in 2025-08, with the labels that each got.

#1243 [Snyk] Security upgrade tensorflow/tensorflow from latest-gpu to 2.20.0rc0-gpu
  benchmarks/ai-benchmark/Dockerfile
Labels: lgtm, dco-signoff: no, size/XS, approved

#1276 fix: fix err which retrieved incorrect NUMA node information issue #1275
  pkg/device-plugin/nvidiadevice/nvinternal/plugin/register.go
  pkg/device-plugin/nvidiadevice/nvinternal/plugin/register_test.go
Labels: kind/bug, lgtm, dco-signoff: yes, approved, size/S

#1288 Welcome fyp711 to become a HAMi member
  AUTHORS.md
Labels: lgtm, size/XS, dco-signoff: yes, approved

#1280 fix(security): resolve issues reported by Code scanning in Security
  .github/workflows/ci.yaml
  docker/Dockerfile
  go.mod
  go.sum
  hack/build.sh
  version.mk
Labels: kind/bug, lgtm, dco-signoff: yes, size/L, approved

#1295 Support Metax sGPU device health check
  pkg/device/metax/sdevice.go
  pkg/device/metax/sdevice_test.go
Labels: lgtm, dco-signoff: yes, approved, size/M
