Repository Project-HAMi/HAMi, pull requests merged in 2025-05, with the labels that each got.

#953 add nvidia-smi command show cuda version info
  docker/Dockerfile
  docker/Dockerfile.hamicore
  docker/Dockerfile.hamimaster
  docker/Dockerfile.withlib
Labels: kind/feature, dco-signoff: yes, size/S

#1072 fix(chart): support GKE pre-release versions via kubeVersion '-0'
  README.md
  README_cn.md
  charts/hami/Chart.yaml
Labels: kind/bug

#1079 update maintainer information
  AUTHORS.md
  MAINTAINERS.md
  charts/hami/Chart.yaml
  docker/Dockerfile
  docker/Dockerfile.withlib
Labels: kind/documentation, dco-signoff: yes, approved, size/S

#1077 fix: missing apiVersion in serviceMonitor dashboard docs
  docs/dashboard.md
  docs/dashboard_cn.md
Labels: kind/bug, lgtm, approved

#1067 test(pkg/util): Add some unit tests for pkg/util
  pkg/util/util_test.go
Labels: kind/failing-test, lgtm, approved
