Repository Project-HAMi/HAMi, pull requests merged in 2025-09, with the labels that each got.

#1321 docs: update ascend910b-support docs
  docs/ascend910b-support.md
  docs/ascend910b-support_cn.md
Labels: kind/documentation, lgtm, size/XS, dco-signoff: yes, approved

#1366 Update kunlunxin documents
  docs/kunlun-vxpu-support.md
  docs/kunlun-vxpu-support_cn.md
Labels: lgtm, dco-signoff: yes, approved, size/S

#1359 feat: add NVIDIA Resourcequota
  charts/hami/templates/scheduler/clusterrole.yaml
  cmd/scheduler/metrics.go
  pkg/device/ascend/device.go
  pkg/device/awsneuron/device.go
  pkg/device/cambricon/device.go
  pkg/device/common/common.go
  pkg/device/devices.go
  pkg/device/enflame/device.go
  pkg/device/enflame/device_test.go
  pkg/device/enflame/gcu.go
  pkg/device/hygon/device.go
  pkg/device/iluvatar/device.go
  pkg/device/kunlun/device.go
  pkg/device/kunlun/vdevice.go
  pkg/device/metax/device.go
  pkg/device/metax/sdevice.go
  pkg/device/mthreads/device.go
  pkg/device/nvidia/device.go
  pkg/device/quota.go
  pkg/device/quota_test.go
  pkg/scheduler/config/config.go
  pkg/scheduler/config/config_test.go
  pkg/scheduler/pods.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  pkg/util/util.go
Labels: kind/feature, lgtm, dco-signoff: yes, approved, size/XXL

#1354 feat(nvidia): default gpucores=100 when memory is exclusive and cores…
  docs/config.md
  docs/config_cn.md
  pkg/device/nvidia/device.go
  pkg/device/nvidia/device_test.go
Labels: kind/feature, lgtm, dco-signoff: yes, size/L, approved
