Repository Project-HAMi/HAMi, pull requests merged in 2025-06, with the labels that each got.

#1108 Prerelease-v2.6
  VERSION
  charts/hami/Chart.yaml
  charts/hami/values.yaml
Labels: size/XS, dco-signoff: yes, approved

#1095 fix: Before executing MIG partitioning, suppress NVML usage in o…
  cmd/vGPUmonitor/main.go
  pkg/device-plugin/nvidiadevice/nvinternal/plugin/lock.go
  pkg/device-plugin/nvidiadevice/nvinternal/plugin/lock_test.go
  pkg/device-plugin/nvidiadevice/nvinternal/plugin/register.go
  pkg/device-plugin/nvidiadevice/nvinternal/plugin/server.go
  pkg/device-plugin/nvidiadevice/nvinternal/plugin/util.go
  pkg/device-plugin/nvidiadevice/nvinternal/rm/health.go
  pkg/device-plugin/nvidiadevice/nvinternal/rm/nvml_manager.go
  pkg/device-plugin/nvidiadevice/nvinternal/rm/rm.go
  pkg/device-plugin/nvidiadevice/nvinternal/rm/tegra_manager.go
Labels: kind/bug, lgtm, dco-signoff: yes, size/XL

#1117 feat(scheduler): make node lock timeout configurable
  cmd/scheduler/main.go
  pkg/scheduler/config/config.go
  pkg/util/nodelock/nodelock.go
  pkg/util/nodelock/nodelock_test.go
Labels: kind/feature, lgtm, dco-signoff: yes, size/M

#1122 documentation: add Known Issues for dynamic mig support
  docs/dynamic-mig-support.md
  docs/dynamic-mig-support_cn.md
Labels: kind/documentation, lgtm, dco-signoff: yes, approved, size/M

#1127 Fix golint-CI
  pkg/util/nodelock/nodelock_test.go
Labels: kind/bug, lgtm, dco-signoff: yes

#1125 docs: fix broken link
  docs/ascend910b-support.md
  docs/ascend910b-support_cn.md
  docs/mthreads-support_cn.md
Labels: kind/documentation, dco-signoff: yes

#1141 Add new kunlun interconnection support
  pkg/device/kunlun/device.go
  pkg/device/kunlun/device_test.go
Labels: dco-signoff: yes, size/L

#1124 featue: mig mode-change #1116
  pkg/device-plugin/nvidiadevice/nvinternal/plugin/server.go
  pkg/device-plugin/nvidiadevice/nvinternal/plugin/util.go
Labels: kind/feature, dco-signoff: yes, size/M

#1133 add global image for chart
  charts/hami/Chart.yaml
  charts/hami/templates/_commons.tpl
  charts/hami/templates/_helpers.tpl
  charts/hami/templates/device-plugin/daemonsetnvidia.yaml
  charts/hami/templates/scheduler/deployment.yaml
  charts/hami/templates/scheduler/job-patch/job-createSecret.yaml
  charts/hami/templates/scheduler/job-patch/job-patchWebhook.yaml
  charts/hami/values.yaml
Labels: lgtm, dco-signoff: yes, size/L
