Repository Project-HAMi/HAMi, pull requests merged in 2025-07, with the labels that each got.

#1149 fix: An error occurred while create Iluvatar pod
  pkg/device/iluvatar/device.go
  pkg/device/iluvatar/device_test.go
Labels: kind/bug, lgtm, dco-signoff: yes, size/L

#1066 feat: Add new labels in .github/release.yml
  .github/release.yml
Labels: kind/documentation, kind/feature, lgtm, approved

#1155 clearly list supported devices doc references at README
  README.md
  README_cn.md
Labels: kind/documentation, lgtm, dco-signoff: yes, approved, size/S

#1159 Add node configs to docs
  docs/config.md
  docs/config_cn.md
  docs/dynamic-mig-support.md
  docs/dynamic-mig-support_cn.md
Labels: lgtm, dco-signoff: yes, approved, size/M

#1163 fix: Add option for overwrite schedulerName
  charts/hami/templates/scheduler/deployment.yaml
  charts/hami/values.yaml
  cmd/scheduler/main.go
  pkg/scheduler/config/config.go
  pkg/scheduler/webhook.go
  pkg/scheduler/webhook_test.go
Labels: kind/bug, lgtm, dco-signoff: yes, approved, size/S

#1172 build(deps): upgrade golang to 1.24.4
  docker/Dockerfile
  docs/how-to-profiling-scheduler.md
  docs/how-to-profiling-scheduler_cn.md
  hack/build.sh
  version.mk
Labels: docker, lgtm, dco-signoff: yes, approved, size/S

#1176 build(deps): Upgrade golang image in ci to 1.24.4
  .github/workflows/ci.yaml
Labels: lgtm, size/XS, dco-signoff: yes, approved

#1171 build(deps): Upgrade controller-runtime to 0.21.0
  go.mod
  go.sum
  pkg/scheduler/webhook.go
Labels: dco-signoff: yes, size/L, approved

#1170 build(deps): Dump github.com/NVIDIA/nvidia-container-toolkit
  cmd/device-plugin/nvidia/main.go
  cmd/device-plugin/nvidia/plugin-manager.go
  go.mod
  go.sum
  pkg/device-plugin/nvidiadevice/nvinternal/cdi/cdi.go
  pkg/device-plugin/nvidiadevice/nvinternal/cdi/options.go
  pkg/device-plugin/nvidiadevice/nvinternal/plugin/manager/factory.go
  pkg/device-plugin/nvidiadevice/nvinternal/plugin/manager/options.go
  pkg/device-plugin/nvidiadevice/nvinternal/rm/device_map.go
  pkg/device-plugin/nvidiadevice/nvinternal/rm/health.go
  pkg/device-plugin/nvidiadevice/nvinternal/rm/nvml_devices.go
  pkg/device-plugin/nvidiadevice/nvinternal/rm/nvml_devices_test.go
  pkg/device-plugin/nvidiadevice/nvinternal/rm/nvml_manager.go
  pkg/device-plugin/nvidiadevice/nvinternal/rm/rm.go
  pkg/device/nvidia/calculate_score.go
  pkg/device/nvidia/links.go
Labels: lgtm, dco-signoff: yes, size/L, approved

#1183 fix: using go-safecast to fix incorrect conversion of numbers
  go.mod
  go.sum
  pkg/device-plugin/nvidiadevice/nvinternal/rm/health.go
  pkg/device/nvidia/links.go
  pkg/util/util.go
Labels: kind/bug, lgtm, dco-signoff: yes, approved, size/M

#1189 fix: deal with security issues reported by Trivy in image
  docker/Dockerfile
Labels: kind/bug, lgtm, size/XS, dco-signoff: yes, approved

#1169 remove redundant metrics for vgpu allocation
  cmd/scheduler/metrics.go
Labels: kind/design, lgtm, dco-signoff: yes, approved, size/M

#1092 fix: wrong Pod's UID and emtpy Pod's name in log of webhook.go
  pkg/scheduler/webhook.go
Labels: kind/bug, lgtm, dco-signoff: yes, approved, size/S

#1198 Add unit tests for cambricon's Fit Function
  pkg/device/cambricon/device_test.go
Labels: kind/failing-test, lgtm, dco-signoff: yes, size/L, approved

#1197 Add unit tests for Ascend's Fit Function
  pkg/device/ascend/device_test.go
Labels: kind/failing-test, lgtm, dco-signoff: yes, approved, size/XL

#1215 修复生成 pod 请求资源时不必要的重复计算
  pkg/k8sutil/pod.go
Labels: lgtm, size/XS, dco-signoff: yes, approved

#1214 修复更新节点注解时的日志提示词
  pkg/util/util.go
Labels: lgtm, size/XS, dco-signoff: yes, approved

#1193 Support Metax sGPU topology aware
  charts/hami/templates/scheduler/device-configmap.yaml
  charts/hami/values.yaml
  examples/metax/sgpu/allocate_specific_gpu.yaml
  examples/metax/sgpu/enable_topology_aware.yaml
  pkg/device/metax/config.go
  pkg/device/metax/protocol.go
  pkg/device/metax/protocol_test.go
  pkg/device/metax/score.go
  pkg/device/metax/sdevice.go
  pkg/device/metax/sdevice_test.go
Labels: lgtm, dco-signoff: yes, approved, size/XXL

#1232 add issue translate robot
  .github/workflows/issue-translate.yaml
Labels: kind/flake, dco-signoff: yes, approved, size/S

#1239 refactor: Ranging over SplitSeq is more efficient
  pkg/device-plugin/nvidiadevice/nvinternal/plugin/util.go
  pkg/device-plugin/nvidiadevice/nvinternal/rm/health.go
  pkg/device/enflame/device.go
  pkg/device/hygon/device.go
  pkg/device/kunlun/device.go
  pkg/scheduler/score_test.go
  pkg/util/util.go
Labels: kind/enhancement, lgtm, dco-signoff: yes, approved, size/S
