Repository Project-HAMi/HAMi, pull requests merged in 2025-01, with the labels that each got.

#766 refactor(ci): use go.mod file for Go version in workflows
  .github/workflows/ci-image-scanning.yaml
  .github/workflows/ci.yaml
Labels: kind/cleanup

#772 add ut for device-map
  pkg/device-plugin/nvidiadevice/nvinternal/rm/device_map_test.go
Labels: kind/failing-test

#741 Optimize the time format layout
  pkg/device/ascend/device_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  pkg/util/util.go
  pkg/util/util_test.go
Labels: kind/flake

#779 fix: nvidia-device-plugin no version info
  Makefile
  docker/Dockerfile
  docker/Dockerfile.withlib
Labels: kind/bug

#775 HAMi supports e2e
  .github/workflows/auto-release.yaml
  .github/workflows/call-e2e.yaml
  .github/workflows/ci.yaml
  Makefile
  Makefile.defs
  charts/Makefile
  go.mod
  go.sum
  hack/deploy-helm.sh
  hack/e2e-test-setup.sh
  hack/e2e-test.sh
  hack/util.sh
  test/e2e/node/test_node.go
  test/e2e/node/test_suite_test.go
  test/e2e/pod/test_pod.go
  test/e2e/pod/test_suite_test.go
  test/e2e/test_suite_test.go
  test/utils/common.go
  test/utils/config.go
  test/utils/event.go
  test/utils/node.go
  test/utils/pod.go
Labels: kind/feature

#778 refactor(logging): enhance log messages for device resource counting
  .DS_Store
  .gitignore
  cmd/vGPUmonitor/metrics.go
  pkg/device-plugin/nvidiadevice/nvinternal/plugin/server.go
  pkg/device-plugin/nvidiadevice/nvinternal/plugin/util.go
  pkg/device-plugin/nvidiadevice/nvinternal/plugin/util_test.go
  pkg/device/cambricon/device.go
  pkg/device/cambricon/device_test.go
  pkg/device/devices.go
  pkg/device/devices_test.go
  pkg/device/hygon/device.go
  pkg/device/iluvatar/device.go
  pkg/device/metax/device.go
  pkg/device/mthreads/device.go
  pkg/k8sutil/pod.go
  pkg/k8sutil/pod_test.go
  pkg/scheduler/policy/node_policy_test.go
  pkg/scheduler/routes/route.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  pkg/scheduler/score_test.go
  pkg/scheduler/webhook_test.go
  pkg/util/client/client.go
  pkg/util/util.go
  pkg/util/util_test.go
Labels: kind/flake

#802 docs: fix broken link
  README.md
  README_cn.md
Labels: kind/documentation

#803 Optimize the E2E execution logic
  .github/workflows/ci.yaml
  docs/config.md
  hack/util.sh
Labels: kind/feature

#796 optimize MetricsBindAddress to MetricsBindPort
  charts/hami/templates/scheduler/service.yaml
Labels: kind/enhancement

#814 fix: Resolve formatting issue in ConfigMap causing display anomalies
  charts/hami/templates/scheduler/device-configmap.yaml
Labels: kind/flake
