Repository Project-HAMi/HAMi, pull requests merged in 2025-04, with the labels that each got.

#964 scheduler: fix blocked the nodeNotify channel when node changes
  pkg/scheduler/scheduler.go
Labels: kind/bug, dco-signoff: yes, size/S

#1000 refactor: replace interface{} with any in various files
  hack/tools/preferredimports/preferredimports.go
  pkg/device-plugin/nvidiadevice/nvinternal/plugin/server.go
  pkg/device-plugin/nvidiadevice/nvinternal/rm/health.go
  pkg/device-plugin/nvidiadevice/nvinternal/rm/nvml_manager.go
  pkg/device-plugin/nvidiadevice/nvinternal/rm/rm.go
  pkg/device-plugin/nvidiadevice/nvinternal/rm/tegra_manager.go
  pkg/device/cambricon/device.go
  pkg/device/devices.go
  pkg/device/devices_test.go
  pkg/device/nvidia/device.go
  pkg/monitor/nvidia/v0/spec_test.go
  pkg/scheduler/scheduler.go
Labels: kind/cleanup, lgtm, dco-signoff: yes, approved, size/M

#965 scheduler: fix duplicate handling of the node label selector
  pkg/scheduler/scheduler.go
Labels: kind/cleanup, lgtm, size/XS, dco-signoff: yes, approved

#1002 refactor(.github/workflows/ci.yaml): Update golangci-lint to v2.0 and modify .golangci.yaml
  .github/workflows/ci.yaml
  .golangci.yaml
  cmd/vGPUmonitor/testcollector/main.go
  hack/tools/preferredimports/preferredimports.go
  hack/verify-staticcheck.sh
  pkg/device/cambricon/device.go
  pkg/device/cambricon/device_test.go
  pkg/device/metax/protocol.go
  pkg/device/nvidia/device_test.go
  pkg/util/nodelock/nodelock.go
  test/utils/pod.go
Labels: kind/cleanup, lgtm, dco-signoff: yes, size/L, approved

#1007 update hami arch
  imgs/arch.png
  imgs/hami-arch.png
  imgs/hami-arch.pptx
Labels: kind/documentation, size/XS, dco-signoff: yes, approved

#966 scheduler: fix removing node devices from node manager
  pkg/scheduler/nodes.go
  pkg/scheduler/nodes_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
Labels: kind/bug, lgtm, dco-signoff: yes, size/L, approved

#963 feat: Add support for profiling via net/http/pprof package
  cmd/scheduler/main.go
  docs/how-to-profiling-scheduler.md
  docs/how-to-profiling-scheduler_cn.md
Labels: kind/documentation, go, lgtm, dco-signoff: yes, size/L

#1013 Support Enflame gcushare for enflame devices
  charts/hami/templates/scheduler/configmap.yaml
  charts/hami/templates/scheduler/configmapnew.yaml
  charts/hami/templates/scheduler/device-configmap.yaml
  charts/hami/values.yaml
  docs/enflame-gcu-suport.md
  docs/enflame-gcu-support_cn.md
  examples/enflame/default_use.yaml
  examples/enflame/use_exclusive.yaml
  examples/nvidia/default_use.yaml
  pkg/device/devices.go
  pkg/device/devices_test.go
  pkg/device/enflame/device.go
  pkg/device/enflame/device_test.go
Labels: kind/feature, dco-signoff: yes, size/XL

#1012 fix vgpu-devices-allocated annotations are inconsistent #991
  pkg/scheduler/score.go
  pkg/scheduler/score_test.go
Labels: kind/bug, dco-signoff: yes, size/S
