Repository Project-HAMi/HAMi, pull requests merged in 2025-02, with the labels that each got.

#860 Remove duplicate log fields
  pkg/scheduler/pods.go
Labels: kind/cleanup

#842 [docs] Fix default nvidia.resourceCoreName value in config.md
  docs/config.md
  docs/config_cn.md
Labels: kind/documentation

#681 fix: scheduler ignore KUBECONFIG env even if this environment variable is set
  pkg/k8sutil/client.go
  pkg/scheduler/scheduler.go
Labels: kind/bug

#895 Support Metax SGPU to sharing GPU
  charts/hami/templates/scheduler/configmap.yaml
  charts/hami/templates/scheduler/configmapnew.yaml
  charts/hami/templates/scheduler/device-configmap.yaml
  charts/hami/values.yaml
  docs/metax-support.md
  docs/metax-support_cn.md
  examples/metax/gpu/binpack.yaml
  examples/metax/gpu/default_use.yaml
  examples/metax/gpu/spread.yaml
  examples/metax/sgpu/allocate_exclusive.yaml
  examples/metax/sgpu/allocate_specific_gpu.yaml
  examples/metax/sgpu/allocate_vmemory_MiB.yaml
  examples/metax/sgpu/default_use.yaml
  examples/metax/sgpu/multi-containers.yaml
  pkg/device/devices.go
  pkg/device/metax/config.go
  pkg/device/metax/device.go
  pkg/device/metax/protocol.go
  pkg/device/metax/protocol_test.go
  pkg/device/metax/sdevice.go
  pkg/device/metax/sdevice_test.go
Labels: kind/feature, dco-signoff: yes, size/XXL
