Repository Project-HAMi/HAMi, pull requests merged in 2025-03, with the labels that each got.

#907 docs: fix broken commmunity links
  AUTHORS.md
  CODE_OF_CONDUCT.md
  MAINTAINERS.md
Labels: kind/documentation, size/XS, dco-signoff: yes

#901 add config gpu core isolation policy for webhook
  charts/hami/templates/scheduler/device-configmap.yaml
  charts/hami/values.yaml
  docs/config.md
  docs/config_cn.md
  pkg/device/nvidia/device.go
Labels: kind/feature, dco-signoff: yes, size/M

#898 feat: support scheduler replicas > 1
  charts/hami/templates/scheduler/deployment.yaml
  charts/hami/values.yaml
Labels: kind/feature, lgtm, size/XS, dco-signoff: yes

#906 docs: add syntax highlighting to various code blocks
  README.md
  docs/cambricon-mlu-support.md
  docs/cambricon-mlu-support_cn.md
  docs/hygon-dcu-support.md
  docs/hygon-dcu-support_cn.md
  docs/iluvatar-gpu-support.md
  docs/iluvatar-gpu-support_cn.md
  docs/mthreads-support.md
  docs/mthreads-support_cn.md
Labels: kind/documentation, lgtm, dco-signoff: yes, size/M

#917 typo: fix typos in log and comment
  pkg/device/mthreads/device.go
Labels: kind/cleanup, lgtm, size/XS, dco-signoff: yes

#769 feat: Add kube-qps and kube-burst parameters.
  cmd/device-plugin/nvidia/main.go
  cmd/scheduler/main.go
  pkg/device/cambricon/device_test.go
  pkg/device/hygon/device_test.go
  pkg/device/nvidia/device.go
  pkg/scheduler/config/config.go
  pkg/util/client/client.go
  pkg/util/client/client_test.go
Labels: kind/feature, dco-signoff: yes, size/M

#918 docs: Update MAINTAINERS file with current contributor information
  AUTHORS.md
  MAINTAINERS.md
Labels: kind/documentation, size/XS, dco-signoff: yes

#926 Nominate chaunceyjiang to reviewer
  OWNERS
Labels: lgtm, size/XS, dco-signoff: yes, approved

#947 Fix cambricon pods not been recognized by HAMi scheduler
  pkg/device/cambricon/device.go
  pkg/device/cambricon/device_test.go
  pkg/scheduler/pods.go
  pkg/scheduler/scheduler.go
Labels: kind/bug, dco-signoff: yes, approved, size/S

#924 chore: add namespace override for multi-namespace deployments
  charts/hami/templates/_helpers.tpl
  charts/hami/templates/device-plugin/configmap.yaml
  charts/hami/templates/device-plugin/daemonsetnvidia.yaml
  charts/hami/templates/device-plugin/monitorrolebinding.yaml
  charts/hami/templates/device-plugin/monitorservice.yaml
  charts/hami/templates/device-plugin/monitorserviceaccount.yaml
  charts/hami/templates/scheduler/configmap.yaml
  charts/hami/templates/scheduler/configmapnew.yaml
  charts/hami/templates/scheduler/deployment.yaml
  charts/hami/templates/scheduler/device-configmap.yaml
  charts/hami/templates/scheduler/job-patch/clusterrolebinding.yaml
  charts/hami/templates/scheduler/job-patch/job-createSecret.yaml
  charts/hami/templates/scheduler/job-patch/job-patchWebhook.yaml
  charts/hami/templates/scheduler/job-patch/role.yaml
  charts/hami/templates/scheduler/job-patch/rolebinding.yaml
  charts/hami/templates/scheduler/job-patch/serviceaccount.yaml
  charts/hami/templates/scheduler/rolebinding.yaml
  charts/hami/templates/scheduler/service.yaml
  charts/hami/templates/scheduler/serviceaccount.yaml
  charts/hami/templates/scheduler/webhook.yaml
  charts/hami/values.yaml
Labels: dco-signoff: yes, size/M

#921 fix: hygon dcu concurrent creation conflict
  pkg/device/hygon/device.go
  pkg/device/hygon/device_test.go
Labels: kind/bug, lgtm, dco-signoff: yes, size/L

#910 Fix the wrong describe of device registry in protocol.md
  docs/develop/design.md
  docs/develop/protocol.md
Labels: kind/bug, lgtm, dco-signoff: no, size/XS

#944 fix ubuntu base image in Dockerfile.withlib
  docker/Dockerfile.withlib
Labels: lgtm, size/XS

#905 refactor(scheduler): replace init methods with constructor functions
  pkg/scheduler/nodes.go
  pkg/scheduler/nodes_test.go
  pkg/scheduler/pods.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
Labels: kind/bug, dco-signoff: yes, size/M

#934 add Dependencies policy and Security policy
  DEPENDENCY.md
  SECURITY.md
Labels: kind/documentation, lgtm, dco-signoff: yes, size/M
